.loginContainer{
    margin: auto;
    width: 45%;
    height: 400px;
    margin-top: 10%;
    background-color: white;
}

.loginText{
    border: solid 1px white;
    margin-top: 20%;
    color: green;
}

